
body {font-family: 'Inter', sans-serif;font-size: 16px;}
a {text-decoration: none;}
h1, h2, h3, h4, p {color: black; padding-bottom: 30px;}

.big-text {font-size: 70px;font-weight: 800;}
.med-text {font-size: 40px;}
.normal-text {font-size: 20px;}
.small-text {font-size: 10px;}
.intro-text {text-transform: uppercase; font-size: 15px; font-weight: bold;}
.button {padding: 18px 20px; background: black; color: white; display: inline-block; border: 4px;}
.mt-1 {margin-top: 40px;}
.mt-2 {margin-top: 90px;}

.text{color: white;}
.text2{color: black;}

@media (max-width: 1125px) {
    .mt-1 {margin-top: 40px;}
    .mt-2 {margin-top: 90px;}
}


.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: black;
    height: 100px;
}

.header__content { margin: 0 auto; display: flex; justify-content: space-between;}

.logo {
    padding: 15px;
    z-index: 1;
}

.menu {
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    width: 55%;
    z-index: 0;
}

.menu li {display: inline-block;}
.menu li a{color: white; display: block; padding: 25px; font-size: 18px;}



@media (max-width: 1125px) {
    .menu {position: absolute; top: 0; right: -100%; background: black; height: 100vh; padding-top: 80px; width: 100%;}
    .menu li {border-bottom: 2px solid gainsboro; display: block;}
    .menu li a {font-size: 19px;}
    .icona {display: block; height: 50px; width: 50px; position: absolute; top: 30px; right: 20px;}
    .icona span {height: 5px; width: 40px;background: white; display: block; margin-bottom: 6px;}
    .menu--open {right: 0;}
}



*,
*:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}